p{
    margin: 0;
}

.profile-me{
    height: 300px;
    border-radius: 50%;
    outline: 1px solid black ;
}

.icon-logo-container{
    background-color: white;
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
    padding:5px;
}


.about-me{
    font-size: 20px;
}


.project-container{
    box-shadow: 0px 0px 10px black;
    border-radius: 7px;
}

.project-img{
    height: 200px;
}

#project-3{
    display: none;
}
#show-more-btn{
    display: block;
}
#show-less-btn{
    display: none;
}